<div style="padding: 0 20vw;">
    <div *ngIf="isUseFilter | async" class="dynamic-filter-container my-8">
        <form class="example-form d-flex items-center flex-col">
            <mat-form-field class="example-full-width w-100">
                <mat-label>Owner</mat-label>
                <input class="w-100" type="search" [(ngModel)]="ownerValue" (ngModelChange)="onOwnerInputChange($event)"
                    matInput [ngModelOptions]="{standalone: true}" placeholder="Enter text...">
            </mat-form-field>

            <button *ngIf="!useLanguageFilter" mat-button (click)="toggleLanguageFilter(true)">
                <mat-icon>add</mat-icon>

                Add Language
                filter</button>

            <div *ngIf="useLanguageFilter" class="d-flex">
                <app-language-filter></app-language-filter>
                <button (click)="toggleLanguageFilter(false)" mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>