<div style="padding: 0 20vw;">
    <div *ngIf="isUseFilter | async" class="dynamic-filter-container my-8">
        <form class="example-form d-flex items-center flex-col">
            <mat-form-field class="example-full-width w-100">
                <mat-label>Owner</mat-label>
                <input class="w-100" type="search" [(ngModel)]="ownerValue" (ngModelChange)="onOwnerInputChange($event)"
                    matInput [ngModelOptions]="{standalone: true}" placeholder="Enter text...">
            </mat-form-field>

            <app-language-filter></app-language-filter>
        </form>
    </div>
</div>